// Variables
$fondoOscuroColor: rgba(0, 0, 0, 0.123);
$colorTituloHeader: hsl(0, 0%, 17%);
$backgroundColorProducto: rgb(229, 217, 240);
$buttonColor: rgb(54, 55, 139);
$backgroundColorFooter: hsl(0, 5%, 17%);
$colorBlanco: #ffffff;